/* remove default browser space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}

/* page section (and assigning section to grid name) */
.header {
    grid-area: head;
    background-color: #069494;
    color: white;
    padding: 24px;
}

.nav {
    grid-area: nav;
    background-color: #FF8243;
    color: #333333;
    padding: 24px;
}

.main {
    grid-area: main;
    background-color: #FCE883;
    padding: 24px;
}

.footer {
    grid-area: foot;
    background-color: #069494;
    color: white;
    padding: 24px;
}

/* for the mobile page layouts so it will stack vertical */
.page-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "nav"
        "main"
        "foot";
    gap: 15px;
}

/* mobile card layout so cards will start on one column */
.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.card {
    background-color: #FFC0CB;
    color: #333333;
    padding: 24px;
}

.card ul {
    color: #333333;
    padding: 20px;
}

/* desktop view, navigation becomes 220px wide beside main content */
@media (min-width: 768px) {
    .page-layout {
        grid-template-columns: 220px 1fr;
        grid-template-areas:
            "head head"
            "nav main"
            "foot foot";
    }

    /* makes two equal columns for cards */
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* this will make ONLY first card stretch across both columns */
    .card-one {
        grid-column: 1 / -1;
    }
}